<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/navigation.css">
    <link rel="stylesheet" href="../static/css/cards.css">
    <style>
        :root {
            --card-width: 500px;
            --image-width: 200px;
            --text-width: 0px;
        }
    </style>
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <ul>
            <li><a href="../templates/index.html"><div class="icon">🏠</div> Home</a></li>
            <li><a href="../templates/about.html"><div class="icon">🕵🏼‍♂️</div> About Me</a></li>
            <li><a href="../templates/experience.html"><div class="icon">💼</div> Experience</a></li>
            <li><a href="../templates/portfolio.html"><div class="icon">💻</div> Portfolio</a></li>
            <li><a href="../assets/CV.pdf" download="CV.pdf"><div class="icon">📄</div> Download CV</a></li>
        </ul>
    </nav>

    <div class="large-container-spacer"></div>

    <!-- Single card: Work -->
    <div class="card">
        <h2 class="card-title">Work Experience</h2>
        <div class="card-content">
            <div >

                <p><strong>💼&nbsp;&nbsp; 2019 - 2021: Rambøll</strong></p>
                <p>
                    <em>
                        My journey at Rambøll began as part of my educational program through a six-month internship as a Bridge Engineer. Following this, I continued as a student assistant for three years before being hired full-time as a Structural Engineer, specializing in Bridge Structures. During my time at Rambøll, I was involved in the following key areas:
                    </em>
                </p>
                <ul>
                    <li><strong>Transport Planning:</strong> 
                        <p class="p-text-under">Managed the logistics of heavy or large vehicle transports through Copenhagen, ensuring bridge structures could handle the load, in collaboration with local authorities and the police.</p>
                    </li>
                    <br>
                    <li><strong>Structural Design Estimates:</strong> 
                        <p class="p-text-under">Developed expertise in providing fast hand calculations to assess the viability of bridge designs.</p>
                    </li>
                    <br>
                    <li><strong>Finite Element Analysis (FEA):</strong> 
                        <p class="p-text-under">Conducted detailed FEA and simulations of complex structures using LUSAS and SOFiSTiK, automating processes with CADINP for structural geometry, loads, and results.</p>
                    </li>
                    <br>
                    <li><strong>Material Optimization:</strong> 
                        <p class="p-text-under">Focused on minimizing material usage in structural designs to optimize efficiency and sustainability.</p>
                    </li>
                    <br>
                    <li><strong>Python Automation:</strong> 
                        <p class="p-text-under">Replaced local Excel files for complex calculations with modular Python scripts to improve efficiency.</p>
                    </li>
                    <br>
                    <li><strong>C# Software Development:</strong> 
                        <p class="p-text-under">Collaborated with a colleague to develop a custom GUI in C#, streamlining calculations previously handled by less flexible software.</p>
                    </li>
                    <br>
                    <li><strong>Site Supervision:</strong> 
                        <p class="p-text-under">Supervised on-site construction to ensure compliance with planned designs and adherence to project specifications.</p>
                    </li>
                    <br>
                    <li><strong>Drawing Production Coordination:</strong> 
                        <p class="p-text-under">Provided input to CAD specialists and coordinated drawing production between teams in Denmark and India.</p>
                    </li>
                    <br>
                    <li><strong>Quality Assurance & Document Control:</strong> 
                        <p class="p-text-under">Conducted quality assurance of colleagues' calculations and drawings, ensuring smooth document control through ProjectWise.</p>
                    </li>
                    <br>
                    <li><strong>Project Management:</strong> 
                        <p class="p-text-under">Utilized Microsoft Project to estimate timelines and coordinated tasks with our Indian department. Managed smaller projects independently, from initial calculations to final design and on-site supervision.</p>
                    </li>
                </ul>
                <br>

                <p><strong>💼&nbsp;&nbsp; 2021 - 2024: SYSTRA</strong></p>
                <p>
                    <em>
                        I was initially hired by Atkins Denmark, which was later acquired by SYSTRA. During my time at SYSTRA, I worked as a Structural Consultant specializing in Bridge Engineering. My responsibilities and achievements included:
                    </em>
                </p>
                <ul>
                    <li><strong>SOFiSTiK Implementation:</strong> 
                        <p class="p-text-under"></p>>Introduced and implemented SOFiSTiK (FEA Software) across the engineering team. I also focused on training others to automate tasks using SOFiSTiK’s built-in coding language, CADINP.</p>
                    </li>
                    <br>
                    <li><strong>SOFiSTiK Training Courses:</strong> 
                        <p class="p-text-under"></p>>Organized and delivered training sessions to help colleagues gain proficiency in SOFiSTiK and optimize their use of the software.</p>
                    </li>
                    <br>
                    <li><strong>Department Management:</strong> 
                        <p class="p-text-under"></p>>Managed our Indian department, ensuring clear communication, mutual understanding of agreements, and meeting project deadlines.</p>
                    </li>
                    <br>
                    <li><strong>Project Management:</strong> 
                        <p class="p-text-under"></p>>Further developed my project management skills, ensuring alignment between clients and our team on project scope and timelines, with a focus on detail-oriented execution.</p>
                    </li>
                    <br>
                    <li><strong>Finite Element Analysis (FEA):</strong> 
                        <p class="p-text-under"></p>>Continued to perform advanced FEA, simulating bridge structures and loads to optimize material use. I also supported this work with a variety of hand calculations.</p>
                    </li>
                    <br>
                    <li><strong>Python Development:</strong> 
                        <p class="p-text-under"></p>>Developed custom calculation tools in Python to streamline processes within our department, improving efficiency and accuracy.</p>
                    </li>
                    <br>
                    <li><strong>Report Automation:</strong> 
                        <p class="p-text-under"></p>>Initiated efforts to automate report writing using Python, ensuring standardized layouts and formats for all departmental reports.</p>
                    </li>
                </ul>


            </div>
        </div>
    </div>

    <div class="small-container-spacer"></div>

    <!-- Single card: Education -->
    <div class="card">
        <h2 class="card-title">Education</h2>
        <div class="card-content">
            <div >
                <p>🎓&nbsp;&nbsp; M.Sc. in Structural Mechanics (DTU, Lyngby): 2016 - 2019 </p>
                <p>🎓&nbsp;&nbsp; B.Sc. in Structural Mechanics (DTU, Lyngby): 2013 - 2016  </p>
                <p>🎓&nbsp;&nbsp; HHX (Lyngby): 2008-2011</p>
            </div>
        </div>
    </div>

    <div class="small-container-spacer"></div>


    <!-- Single card: Courses -->
    <div class="card">
        <h2 class="card-title">Courses</h2>
        <div class="card-content">
            <div >
                <p>🎓<a class="links" href="https://pll.harvard.edu/course/cs50-introduction-computer-science">CS50x (Harvard University)</a></p>
                <p>🎓<a class="links" href="https://codewithmosh.com/p/ultimate-java-part-1">Java Fundamentals</a></p>
                <p>🎓<a class="links" href="https://www.gamedev.tv/courses/unity-complete-3d">Unity Course</a></p>
                <p>🎓<a class="links" href="https://www.hackingwithswift.com/100/swiftui">SwiftUI Course</a></p>
            </div>
        </div>
    </div>

    <div class="small-container-spacer"></div>

    <script src="script.js"></script>


</body>
</html>


