<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/navigation.css">
    <link rel="stylesheet" href="../static/css/cards.css">
    <style>
        :root {
            --card-width: 1000px;
            --image-width: 300px;
            --text-width: 700px;
        }
    </style>
</head>
<body>

    <nav class="navbar">
        <ul>
            <li><a href="../templates/index.html"><div class="icon">🏠</div> Home</a></li>
            <li><a href="../templates/about.html"><div class="icon">🕵🏼‍♂️</div> About Me</a></li>
            <li><a href="../templates/experience.html"><div class="icon">💼</div> Experience</a></li>
            <li><a href="../templates/portfolio.html"><div class="icon">💻</div> Portfolio</a></li>
            <li><a href="../assets/CV.pdf" download="CV.pdf"><div class="icon">📄</div> Download CV</a></li>
        </ul>
    </nav>

    <div class="large-container-spacer"></div>

    <!-- Rocket Booster -->
    <div class="card">
        <h2 class="card-title">Rocket Booster</h2>
        <div class="card-content">
            <div >
                <video class="video" autoplay loop muted playsinline>
                    <source src="../assets/rocketvideo.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="card-text">
                <p>I made this little helicopter-type game called "Rocket Booster" in Unity, using the Unity Game Engine with C# scripting. </p>
                <p>The player can steer the rocket using keyboard inputs.</p>
                <p>Finally, I used to level manager so the player could progress to other levels.</p>
            </div>
        </div>
      </div>
      <!-- . -->

    <div class="small-container-spacer"></div>


    <!-- Kalaha -->
    <div class="card">
        <h2 class="card-title">Kalaha</h2>
        <div class="card-content">
            <div >
                <video class="video" autoplay loop muted playsinline>
                    <source src="../assets/kalahavideo.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="card-text">
                <p>I recreated good old Kalaha game in Python.</p>
                <p>The game can be played by two players, or simulated by two computer players.</p>
                <p>Here, I'm showing the results of simulating a thousand Kalaha games.</p>
                <br>
                <p>
                    By these simulations I found that Player 1 (the starting player) has a significant advantage, why I finally found 
                    that putting just one more stone in Player 2's 4th pocket minimized the advantage to ~ 1 %.
                    I'm printing all board states to screen in this simulation, but could turn that printing off to optimize the speed of the simulation.
                    I created a bit of ASCII-art to visualize the board states.
                </p>
            </div>
        </div>
      </div>
      <!-- . -->
      <div class="small-container-spacer"></div>

    <script src="script.js"></script>


</body>
</html>
